#headerBar {
  height: 1.4rem;
  min-width: 100%;
  background-color: #1b0f15;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50000;
}
.timer-headerBar {
  height: 100%;
  color: white;
  font-family: 'Ubuntu';
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-headerBar-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 10rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.headerOptionBox{
 height: 90%;
 width: 4.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 0.4rem;
}
.headerOptionBox:hover{
  background-color: #534d52;
}

.headerOptionText{
 height: 100%;
 color: white;
 font-family: 'Ubuntu';
 font-size: 0.8rem;
  display: flex;
 justify-content: center;
 align-items: center;
  cursor: pointer;
}
.right-headerBar-container {
  position: absolute;
  right: 0;
  height: 80%;
  margin-right: 0.2rem;
  width: 6.5rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.right-headerBar-container * {
  color: white;
  font-size: 0.9rem;
   cursor: pointer;
}
.right-headerBar-container:hover {
  background-color: #534d52;
}

